* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
.package {
  border: solid black thin;
  width: 3vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2vh;
  cursor: pointer;
  margin-left: 5px;
  background-color: green;
}
body {
  background-color: gray;
}
#flex-box {
  font-size: 2vh;
  display: flex;
}
#question {
  text-align: center;
  font-size: 3vh;
}
#start {
  font-size: 2vh;
}
.rating {
  font-size: 2vh;
  width: 5vh;
  display: none;
}
#counter {
  font-size: 2vh;
}
#accuracyCounter {
  font-size: 2vh;
}
#mark {
  font-size: 2vh;
}
#box {
  display: flex;
}
.images{
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 50vh;
    display: none;
}
